<section id="empresa" >
  <div class="row"  style="padding: 2rem;" >
    <div class="col">

      <div class="card">
        <img src="https://scontent.fcue2-1.fna.fbcdn.net/v/t39.30808-6/326393659_554635016386945_5131469088829827063_n.png?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHTIkj4ny2dg3WNlwn3r_moXIDjKOY1jP5cgOMo5jWM_sAsF9_KJ-9mAwzjEpPR1z-uaj9f4Alnq9n8zknG8KJw&_nc_ohc=bQu_jNj019kQ7kNvgGH3quw&_nc_ht=scontent.fcue2-1.fna&oh=00_AYB5ISxmMs92wz1hRD53PFODkYilfxmA2R0JlsEBX_zGDg&oe=66719BF9"
        alt="Imagen de Facebook"
        style="width: 300px; height: auto;">

        <div class="card__content">

          <p class="card__title">¿Quienes somos?</p>
          <p class="card__description">Millenium Conexion: Somos líderes en servicios
            de internet tanto residencial como corporativo. Nuestros
            planes están diseñados para adaptarse perfectamente a
            tus necesidades, respaldados por nuestro equipo
            especializado y una plataforma tecnológica de vanguardia.
            Con nosotros, siempre tendrás la garantía de una conexión
            rápida, segura y confiable.
          </p>
        </div>

      </div>

    </div>

  </div>


  <div class="link-empresa">
    <div class="flip-cards-container">


      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">MISION</p>
            <p>Nos enfocamos en safisfacer las necesidades de
              conexion y velocidad de nuestros usuarios
            </p>
          </div>
          <div class="flip-card-back">
            <h3>DETALLES</h3>
            <p>Comprometidos a proveer internet de alta calidad para todos.</p>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <p class="title">VISION</p>
            <p>Brindar un servicio de calidad y crecer
              juntos por un mejor futuro en las telecomunicaciones.
            </p>
          </div>
          <div class="flip-card-back">
            <h3>DETALLES</h3>
            <p>Aspiramos a ser líderes en la industria con un enfoque en innovación.</p>
          </div>
        </div>
      </div>



      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">


            <p class="title">VALORES</p>
            <p>Dame vuelta</p>
          </div>
          <div class="flip-card-back">
            <h3>DETALLES</h3>
            <p>
              <span class="word">Calidad</span>

              <span class="word">Integridad</span>

              <span class="word">Liderazgo</span>
            </p>
          </div>

        </div>
      </div>
    </div>

  </div>

</section>
