<div class="plan" id="planes">

  <div class="plan-txt">
    <h1>NUESTROS PLANES</h1>
    <h3>Ofrecemos planes flexibles de acuerdo a sus necesidades y presupuesto (incluyen IVA)</h3>
  </div>


  <div class="row" >
    <div class="flip-cards-container">
      <div class="card">
        <div class="card-content-wrapper">
          <div class="card-title">Plan Basico</div>
          <div class="card-price">
            <span>$</span>
            14.99
            <span>/month</span>
          </div>
          <div class="card-subtitle">Beneficios:</div>
          <ul class="card-benefits">
            <li>10 Mbps</li>
            <li>Uso básico como navegación.</li>
          </ul>
        </div>
        <!--<button class="card-btn">More info</button>-->
      </div>

      <div class="card">
        <div class="card-content-wrapper">
          <div class="card-title">Plan Junior</div>
          <div class="card-price">
            <span>$</span>
            19.99
            <span>/month</span>
          </div>
          <div class="card-subtitle">Beneficios:</div>
          <ul class="card-benefits">
            <li>40 Mbps</li>
            <li>Apto para streaming y videollamadas.</li>
          </ul>
        </div>
        <!--<button class="card-btn">More info</button>-->
      </div>

      <div class="card">
        <div class="card-content-wrapper">
          <div class="card-title">Plan Economico</div>
          <div class="card-price">
            <span>$</span>
            22.00
            <span>/month</span>
          </div>
          <div class="card-subtitle">Beneficios:</div>
          <ul class="card-benefits">
            <li>60 Mbps</li>
            <li>Para hogares con múltiples dispositivos conectados.</li>
          </ul>
        </div>
        <!--<button class="card-btn">More info</button>-->
      </div>

      <div class="card">
        <div class="card-content-wrapper">
          <div class="card-title">Plan Platinium</div>
          <div class="card-price">
            <span>$</span>
            25.00
            <span>/month</span>
          </div>
          <div class="card-subtitle">Beneficios:</div>
          <ul class="card-benefits">
            <li>80 Mbps</li>
            <li>Para un uso más intensivo, incluyendo videojuegos en línea.</li>
          </ul>
        </div>
        <!--<button class="card-btn">More info</button>-->
      </div>

      <div class="card">
        <div class="card-content-wrapper">
          <div class="card-title">Plan Gold</div>
          <div class="card-price">
            <span>$</span>
            30.00
            <span>/month</span>
          </div>
          <div class="card-subtitle">Beneficios:</div>
          <ul class="card-benefits">
            <li>100 Mbps</li>
            <li>Alta velocidad para actividades de alta demanda.</li>
          </ul>
        </div>
        <!--<button class="card-btn">More info</button>-->
      </div>



    </div>
  </div>

</div>
